body {
  font-size: 20px;
  color: #222222;
  margin: 0;
}

img {
  height: 300px;
}

.bold_text {
  font-weight: bold;
}

#main_section {
  background-image: url("images/sunflowers.jpg");
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

#main_header {
  margin: 0;
  font-size: 50px;
  font-weight: bolder;
  background-color: #cccccc;
  opacity: 0.8;
  border-color: #222222;
  border-radius: 10px;
  border-width: 3px;
  padding: 20px;
}

#produce_section,
#chicken_section {
  margin: 25px;
}
